
  body {font-size: 16px ; line-height:1.5em ; max-width:42em}
  li {font-size: 16px ; line-height:1.5em ; max-width:42em}

  p{font-size: 120% ; line-height:1.5em; font: "Times New Roman";  
		text-align: justify ;  }
  h1 {line-height: 1em;}

  #image1{ 
   text-align: center ; 

}
img {
    max-width: 42em;
    max-height: 42em;
    width:auto;
    height:auto;
}
}

  h1{font-size: 250% ;}
  
  h2{font-size: 180% ;}

 blockquote{font-size: 120% ;}

 ol{font-size: 120% ;}
 
 table {
 	background: lightgrey ;
 }
 th,td {
 	padding: 0.5em ; 
 	text-align: left;

 }

#innercontent {
	

  padding-left: 0.5em ;
  padding-right: 0.5em ;
}


	#header { 

		padding-top: 0.5em ;

	 }


@media only screen and (max-width:629px) {


	#header { 
		width: 100% ;

		text-align: left;

		line-height: 2em ;

		padding-top: 0.5em ;







	 }
	 #buttons {
	 	width: 100% ;

	 	text-align: center ; 
	 }



	#innercontent {
		position: auto ;
		top: auto ;
		left: auto ;
		right: auto ;
		margin-top: 10px ;
		margin-left: 5px ;
}	
	


} 