
  body {font-size: 16px ;}

  p{font-size: 120% ; line-height:1.2; font: "Times New Roman";  
		text-align: justify ;  }

  h1{font-size: 250% ;}
  
  h2{font-size: 180% ;}

 blockquote{font-size: 120% ;}

 ol{font-size: 120% ;}


#innercontent {
	

  padding-left: 0.5em ;
  padding-right: 0.5em ;
}



@media only screen and (max-width:629px) {

	#innercontent {
		position: auto ;
		top: auto ;
		left: auto ;
		right: auto ;
		margin-top: 10px ;
		margin-left: 5px ;
		
}


