
  body {font-size: 16px ; line-height:1.5em ; }

  p{font-size: 120% ; line-height:1.5em; font: "Times New Roman";  
		text-align: justify ;  }


  #image1{ text-align: center; }

  h1{font-size: 250% ;}
  
  h2{font-size: 180% ;}

 blockquote{font-size: 120% ;}

 ol{font-size: 120% ;}


#innercontent {
	

  padding-left: 0.5em ;
  padding-right: 0.5em ;
}



@media only screen and (max-width:629px) {


	#header { 
		width: 100% ;

		text-align: left;





	 }



	#innercontent {
		position: auto ;
		top: auto ;
		left: auto ;
		right: auto ;
		margin-top: 10px ;
		margin-left: 5px ;
}	
		


}
